@media (width < 912px){
    .navbar{
        width: 100vw;
        padding-right: 0;
      }

      #navbarNavDropdown{
        background: rgb(16,16,17);
      }
      .menu-section{
        padding: 10px 10px;
      }

      .menu-section p {
        width: 98%;
      }

      /* ******************************************* */
      .testimonials {
        margin-top: 10vh;
        width: 100%;
        height: 85vh;
        /* background-color: yellow; */
    }
      .testimonials img{
        width: 100%;
        height: 100%;
        opacity: 0.3;
      }
      .testimonials-desc{
        width: 90%;
      }
      .testimonial-carousel{
        width: 90%;
    }
    /* *********************************** */
    #client-container{
      overflow-x: hidden;
    }
/* *************************************** */
    #company{
        height: 50vh;
      }
  
      .logo-name{
        flex-direction: column;
        height: 35vh;
        /* background-color: white; */
      }
      .logo-name img{
        margin-right: 0;
      }
      .logo-name h1{
        padding-top: 25px;
      }
  
      .socials{
        width: 100vw;
        justify-content: center;
          /* background-color: blue; */
      }
      .socials a{
        padding: 15px;
      }
  
      .location-address{
        margin-top: 2vh;
        display: flex;
        width: 100%;
        height: 5vh;
        /* background-color: yellow;       */
      }
  /* *************************************** */
  
      footer{
        display: flex;
        width: 100vw;
        height: 12vh;
        justify-content: center;
        align-items: center;
      }
  
      .foot{
        display: flex;
        width: 100%;
        height: 100%;
        /* background-color: blue; */
      }
}